<!-- Modal -->
<div class="modal fade" id="symptomsModal" tabindex="-1" aria-labelledby="symptomsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="symptomsModalLabel">Symptoms confirmed by call</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="symptomsByCallFormErrorMessage" class="alert alert-danger d-none"></div>
          <form id="symptomsByCallForm" data-client-id="{{ client.id }}">
              <!-- Form goes here -->
              
          </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="submitSymptomsByCall">Submit</button>
      </div>
    </div>
  </div>
</div>