{% extends 'main.html' %}

{% block content %}
{{ form.media }}

  <div class="container mt-5">
    <form method="POST" class="row g-3">
      {% csrf_token %}
      <h1>TB Treatment</h1>
      {% if form.errors%}
      {% for field, errors in form.errors.items %}
      {% for error in errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endfor %}
      {% endif %}


      <div class="col-md-6">
        <label for="{{ form.is_registered_for_tx.id_for_label }}">{{ form.is_registered_for_tx.label }}</label>
        {{ form.is_registered_for_tx }}
      </div>
      <div class="col-md-6">
        <label for="{{form.registered_date.id_for_label}}">{{ form.registered_date.label }}</label>
        {{ form.registered_date }}
      </div>
      <div class="col-md-6">
        <label for="{{form.tx_regime.id_for_label}}">{{ form.tx_regime.label }}</label>
        {{ form.tx_regime }}
      </div>
      <div class="col-12">
        {{ form.hidden_client_id }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>




{% endblock %}

