{% extends 'main.html' %} {% block content %}
<main>
  <section class="py-4 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Call Center Clients</h1>
        <p class="lead text-muted">
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      
      <div class="row">
        <div class="col-md-6 col-lg-5">
          <form method="get" class="mb-3">
            <div class="input-group">
            {{ stage_filter_form.stage }}
            <button type="submit" class="btn btn-primary">Filter</button>
            </div>
          </form>
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-2">
          <form method="get" class="d-flex justify-content-end mb-3">
            <div class="input-group">
              <input type="text" name="query" class="form-control" placeholder="Search ph no...">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
      
      {% comment %}<div class="row">
        <div class="col-md-6 col-lg-5">
          <form method="get" class="mb-3">
            <div class="input-group">
            {{ stage_filter_form.stage.label_tag }} {{ stage_filter_form.stage }}
            <button type="submit" class="btn btn-primary">Filter</button>
            </div>
          </form>
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-2">
          <form method="get" class="d-flex justify-content-end mb-3">
            <div class="input-group">
              <input type="text" name="query" class="form-control" placeholder="Search ph no...">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>{% endcomment %}
      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Phone Number</th>
                <th scope="col">Gender</th>
                <th scope="col">Type</th>
                <th scope="col">Age Range</th>
                <th scope="col">Stage</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for client_phone in client_phones %}
              <tr>
                <td>{{ client_phone.phone_number }}</td>
                <td>{{ client_phone.client.gender }}</td>
                <td>{{ client_phone.client.type }}</td>
                <td>{{ client_phone.client.age_range }}</td>
                <td>{{ client_phone.client.stage }}</td>
                <td>
                  <a href="#" class="btn btn-primary">Edit</a>
                  <a href="#" class="btn btn-danger">Delete</a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6" class="text-center">No records found</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

